@use "../breakpoints/breakpoints";

@font-face {
	font-family: 'NotoSansJP';
	src: url('../font/NotoSansReg.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'NotoSansJP';
  src: url('../font/NotoSansBold.woff') format('woff');
	font-weight: 700;
}

/*---------------------------------------
-----------------------------------------
表示切り替え
-----------------------------------------
---------------------------------------*/

.pc-only{
	display: block;

	@include breakpoints.mq('tab'){
		display: none;
	}
}

.mid-over{
	display: block;

	@include breakpoints.mq(){
		display: none;
	}
}

.mid-less{
	display: none;

	@include breakpoints.mq('tab'){
		display: block;
	}
}

.sp-only{
	display: none;

	@include breakpoints.mq(){
		display: block;
	}
}

/*---------------------------------------
-----------------------------------------
*font-size*
-----------------------------------------
---------------------------------------*/

// inner幅1080px基準時 --------------------------------

body{
	font-size: 1.8rem;
	/* 1080px基準 最大18px 1080px以下で縮小 最小16px */
	// font-size: clamp(1.6rem, 1.667vw, 1.8rem);
}

h2{
	font-size: 3.6rem;
	font-size: clamp(3rem, 3.344vw, 3.6rem);
}

h3{
	font-size: 3rem;
	font-size: clamp(2.4rem, 2.778vw, 3rem);
}

h4{
	font-size: 2.4rem;
	font-size: clamp(1.8rem, 2.223vw, 2.4rem);
}

p{
	font-size: 1.8rem;
}

/*---------------------------------------
-----------------------------------------
*helper*
-----------------------------------------
---------------------------------------*/

.fwb{
	font-weight: bold;
}

.tac{
	text-align: center;
}

.flex{
	display: flex;
}

.fz--bigger{
	font-size: 1.1em;
}

.fz--smaller{
	font-size: 0.9em;
}

/*---------------------------------------
-----------------------------------------
*gen__inner*
-----------------------------------------
---------------------------------------*/

.gen-inner{
	max-width: 1080px;
	margin: 0 auto;

	@include breakpoints.mq('tab'){
		width: 95%;
	}
}

/*---------------------------------------
-----------------------------------------
*btn*
-----------------------------------------
---------------------------------------*/

.btn-wrap{
	text-align: center;
	margin-top: 6rem;
}

.btn{
	display: inline-block;
	color: #111;
	max-width: 500px;
	margin: 0 auto;
}

/*---------------------------------------
-----------------------------------------
other
-----------------------------------------
---------------------------------------*/

body{
	font-family: 'NotoSansJP' sans-serif;
}