@keyframes fadeIn {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0%{
        visibility: visible;
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes loopSlider {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100vw);
    }
}