@charset "utf-8";

@use "animation/animate";
@use "breakpoints/breakpoints";
@use "parts/common";
@use "color/color";
@use "font/font";
@use "sub";

/*---------------------------------------
-----------------------------------------
header
-----------------------------------------
---------------------------------------*/

.header{
    width: 100%;
    padding: 3.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    @include breakpoints.mq(){
        padding: 0.5rem;
    }

    &.is-change{
        .header__menu{
            ul{
                li{
                    a{
                        color: color.$black;

                        @include breakpoints.mq(){
                            color: #fff;
                        }
                    }

                    .inpage-link--sns{
                        background-color: color.$black;
                        color: #fff;
                        padding: 0.1rem 2rem;
                    }
                }
            }
        }
    }
    
    .header__menu{
        text-align: center;

        @include breakpoints.mq(){
            height: 100vh;
            width: 100%;
            visibility: hidden;
            position: fixed;
            top: 0;
            left: 0;
            
            &::before{
                content: "";
                width: 0;
                height: 100%;
                background-color: color.$red;
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &::after{
                content: "";
                width: 0;
                height: 100%;
                background-color: color.$blue;
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.3s ease 0s;
            }
        }

        &.is-open{

            @include breakpoints.mq(){
                width: 100%;
                visibility: visible;
                left: 50%;
                transform: translateX(-50%);

                &::before{
                    width: 50%;
                }

                &::after{
                    width: 50%;
                }
            }

            ul{
                opacity: 1;
                visibility: visible;
            }
        }

        ul{
            display: flex;
            justify-content: center;

            @include breakpoints.mq(){
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s ease 0s;
            }

            li{
                margin-left: 4rem;

                @include breakpoints.mq(){
                    margin-left: 0;
                    margin-bottom: 1em;
                }
                
                a{
                    font-family: font.$oswald;
                    font-weight: bold;
                    font-size: 1.35em;
                    color: #fff;
                    transition: color 0.3s ease 0s;
                }

                .inpage-link--sns{
                    background-color: #fff;
                    color: color.$black;
                    padding: 0.1rem 2rem;
                }
            }
        }
    }

    .sp-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo{
        font-family: font.$oswald;
        font-weight: bold;
        font-size: 3rem;
        position: relative;
        z-index: 100;
        
        a{
            color: #fff;
        }
    }

    &.is-change .header__logo a{
        color: color.$brawn;
    }

    .hamburger{
        position: relative;
        height: 5rem;
        width: 5rem;
        margin-left: auto;
        background-image: url(../img/burger-close-white.svg);
        transition: all 0.3s ease 0s;
        animation: fadeOut 0.3s ease;

        &.is-open{
            background-image: url(../img/burger-open-white.svg);
            transition: all 0.3s ease 0s;
            animation: fadeIn 0.3s ease;
        }
    }

    &.is-change .hamburger{
        background-image: url(../img/burger-close.svg);

        &.is-open{
            background-image: url(../img/burger-open-white.svg);
            transition: all 0.3s ease 0s;
            animation: fadeIn 0.3s ease;
        }
    }
}

/*---------------------------------------
-----------------------------------------
mv
-----------------------------------------
---------------------------------------*/

.mv{
    height: 100vh;
    position: relative;
    overflow-y: hidden;

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($color: #fff, $alpha: 0.1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .logo{
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .slick-slider img{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
        transform-origin: center top;
        transform: scale(1.1);
        transition: transform 4s ease-out;
    }

    .slick-slider .slick-active img{
        transform: scale(1);
    }
}

/*---------------------------------------
-----------------------------------------
body
-----------------------------------------
---------------------------------------*/

body{
    background-image: url(../img/bg-paper.png);
    background-repeat: repeat-y;
    background-size: cover;
}

/*---------------------------------------
-----------------------------------------
section
-----------------------------------------
---------------------------------------*/

section{
    padding: 12rem 0;

    @include breakpoints.mq(){
        padding: 3rem 0;
    }

    .section__title{
        margin-bottom: 12rem;
        text-align: center;

        @include breakpoints.mq(){
            margin-bottom: 6rem;
        }

        h2{
            img{
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                filter: drop-shadow(2px 2px 4px #ddd);
            }
        }
    }
}

/*---------------------------------------
-----------------------------------------
news
-----------------------------------------
---------------------------------------*/

.news{

    .news__wrap{
        position: relative;
        padding: 5rem 0;

        @include breakpoints.mq(){
            padding: 0;
        }

        .news-board--img{
            background-image: url(../img/board.jpg);
            background-size: cover;
            width: 100%;
            height: 100%;
            border: 10px solid color.$brawn;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .news-paper--img{
            background-image: url(../img/board-paper.png);
            background-size: cover;
            background-position: center center;
            width: 90%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include breakpoints.mq(){
                height: 95%;
            }
        }

        .news__list{
            position: relative;
            padding: 3rem 10rem;

            @include breakpoints.mq(){
                padding: 4rem 3rem;
            }

            a{
                display: block;

                &:last-child .news__item{
                    margin-bottom: 0;
                }

                &:hover{
                    opacity: 0.7;
                }
            }

            .news__item{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 2rem;

                @include breakpoints.mq(){
                    display: block;
                }

                .date{
                    font-family: font.$oswald;
                    margin-right: 2rem;
                    font-size: 1.35em;

                    @include breakpoints.mq(){
                        display: inline-block;
                    }
                }

                .cat{
                    font-family: font.$oswald;
                    font-weight: bold;
                    background-color: color.$brawn;
                    color: #fff;
                    padding: 0 2rem;
                    margin-right: 2rem;
                    @include breakpoints.mq(){
                        display: inline-block;
                    }
                }

                .detail{
                    font-weight: bold;
                    border-bottom: 1px solid color.$red;
                    flex: 1;
                    position: relative;

                    &:before{
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 0 0 10px;
                        border-color: transparent transparent transparent color.$red;
                        position: absolute;
                        bottom: -1px;
                        right: 0;
                    }
                }
            }
        }
    }
}

/*---------------------------------------
-----------------------------------------
concept
-----------------------------------------
---------------------------------------*/

.concept{
    text-align: center;
    position: relative;

    .concept__wrap{
        position: relative;
        font-weight: bold;

        .concept__heading{
            margin-bottom: 12rem;
            position: relative;
            z-index: 1;

            @include breakpoints.mq(){
                margin-bottom: 6rem;
            }

                &::before{
                content: "";
                background-image: url(../img/cow.png);
                background-size: contain;
                width: 45%;
                padding-top: 30%;
                position: absolute;
                top: 0;
                left: 5%;
                z-index: 0;
                opacity: 0.1;

                @include breakpoints.mq(){
                    padding-top: 50%;
                    width: 50%;
                    left: 0;
                }
            }

            &::after{
                content: "";
                background-image: url(../img/america.png);
                background-size: contain;
                width: 40%;
                padding-top: 25%;
                position: absolute;
                top: 0%;
                right: 5%;
                opacity: 0.1;
                z-index: 0;

                @include breakpoints.mq(){
                    width: 50%;
                    padding-top: 50%;
                    right: 0;
                }
            }

            h3{
                position: relative;
                font-size: clamp(2.8rem, 4.63vw, 5rem);
                letter-spacing: 5px;
                z-index: 1;
                border-bottom: 5px solid color.$brawn;
                padding-top: 1.5em;
                display: flex;

                @include breakpoints.mq(){
                    font-size: 3rem;
                    letter-spacing: normal;
                }


                .concept__heading--center{
                    left: 50%;
                }

                .concept__heading--left{
                    color: color.$blue;
                    flex: 1;
                }

                .concept__heading--right{
                    color: color.$red;
                    flex: 1;
                }
            }

        }
    }

}

/*---------------------------------------
-----------------------------------------
menu
-----------------------------------------
---------------------------------------*/

.menu{
    overflow-x: hidden;

    .menu__link__wrap{
        position: relative;
        
        .menu__img{
            position: absolute;
        }

        .menu__link--food + .menu__img{
            width: 40%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @include breakpoints.mq(){
                width: 45%;
            }
        }

        .menu__link--drink + .menu__img{
            width: 25%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            @include breakpoints.mq(){
                width: 30%;
            }
        }

        .img--burger::before{
            content: "";
            background-image: url(../img/d-flug.png);
            background-size: cover;
            width: 10%;
            padding: 20%;
            position: absolute;
            top: -33%;
            left: 10%;
            z-index: -1;
            transform: rotateZ(-45deg);
        }

        .menu__link{
            display: block;
            background-color: #fff;
            width: 100vw;
            margin: 0 calc(50% - 50vw);
            height: 300px;
            margin-bottom: 8rem;
            position: relative;

            @include breakpoints.mq(){
                height: 150px;
            }

            p{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                font-family: font.$oswald;
                font-weight: bold;
                font-size: 2.5em;
            }
            
            &.menu__link--food{
                background-color: color.$red;
                transform: translateX(-35%);
                text-align: right;

                @include breakpoints.mq(){
                    transform: translateX(-10%);
                }

                p{
                    right: 1em;

                    @include breakpoints.mq(){
                        right: 0.5em;
                    }
                }

                .img--burger{
                    position: relative;

                    &::before{
                        content: "";
                        background-image: url(../img/d-flug.png);
                        background-size: cover;
                        width: 100px;
                        height: 100px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }
            }
    
            &.menu__link--drink{
                background-color: color.$blue;
                transform: translateX(35%);

                @include breakpoints.mq(){
                    transform: translateX(10%);
                }

                p{
                    left: 1em;

                    @include breakpoints.mq(){
                        left: 0.5em;
                    }
                }
            }

        }

    }
    .img--paper{
        position: relative;
        z-index: 1;

        &::before{
            content: "";
            background-image: url(../img/d-obj.png);
            background-size: cover;
            width: 300px;
            height: 300px;
            position: absolute;
            bottom: 5%;
            right: -13%;
            z-index: -1;
            transform: rotateZ(30deg);

            @include breakpoints.mq(){
                width: 150px;
                height: 150px;
                right: 16%;
            }
        }

        .mdl{
            display: none;
            background-color: rgba($color: #000000, $alpha: 8);
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
            overflow-x: scroll;

            &.is-show{
                display: block;
            }

            img{
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translateY(-50%) scale(1.8);
            }
        }

        .mdl__btn{
            pointer-events: none;

            @include breakpoints.mq(){
                pointer-events: visible;
            }
        }
    }
    
}

/*---------------------------------------
-----------------------------------------
gallery
-----------------------------------------
---------------------------------------*/

.gallery{
    overflow: hidden;

    .gallery__wrap{
        position: relative;

        .gallery__slider{
            width: 100%;
            height: auto;

            #sb_instagram #sbi_images{
                display: grid;
                width: 200vw;
                grid-template-columns: repeat(9, 1fr);
                margin: 0 calc(50% - 50vw);
                animation: loopSlider 20s linear infinite alternate;

                @include breakpoints.mq(){
                    width: 400vw;
                }
            }
            #sb_instagram.sbi_col_3 #sbi_images .sbi_item{
                width: 100%;
                
                .sbi_photo{
                    height: auto!important;
                    padding-top: 100%;
                }
            }

            #sbi_load{
                display: none;
            }
        }

        &::before{
            content: "";
            background-image: url(../img/d-burger.png);
            background-size: contain;
            background-position: center;
            width: 50%;
            padding-top: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.1;
            z-index: -1;
        }
    }
}

/*---------------------------------------
-----------------------------------------
sns
-----------------------------------------
---------------------------------------*/

.sns{

    .sns__timeline{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2rem;

        @include breakpoints.mq(){
            display: block;
        }

        .sns__twitter{
            width: 40%;

            @include breakpoints.mq(){
                width: 100%;
                margin-bottom: 2rem;
            }
        }

        .sns__insta{
            width: 40%;
            background-color: #fff;

            @include breakpoints.mq(){
                width: 100%;
            }

            #sb_instagram.sbi_col_3 #sbi_images .sbi_item{
                width: 100%;
            }
        }
    }

    .sns__line{

        a{
            display: block;
            width: 30%;
            margin: 0 auto;

            @include breakpoints.mq(){
                width: 100%;
            }
        }
    }
}

/*---------------------------------------
-----------------------------------------
location
-----------------------------------------
---------------------------------------*/

.location{


    .location__wrap{
        display: flex;
        gap: 2rem;

        @include breakpoints.mq(){
            display: block;
        }
    }

    .location__map{
        position: relative;
        width: 45%;
        padding-top: 45%;

        @include breakpoints.mq(){
            width: 100%;
            padding-top: 100%;
            margin-bottom: 2rem;
        }

        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .location__data{
        flex: 1;
        width: 45%;

        @include breakpoints.mq(){
            width: 100%;
        }

        .logo{
            width: 150px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .location__info{
            padding: 2rem;
            border-top: 1px solid color.$black;
            border-bottom: 1px solid color.$black;
            position: relative;

            &::before{
                content: "";
                background-image: url(../img/d-iron.png);
                background-size: cover;
                width: 200px;
                height: 200px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0.1;
            }

            dl{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
            }
        }
    }

}

/*---------------------------------------
-----------------------------------------
footer
-----------------------------------------
---------------------------------------*/

footer{
    background-color: color.$brawn;
    padding: 6rem;

    @include breakpoints.mq(){
        padding: 2rem;
    }
    
    .footer__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        margin-bottom: 6rem;

        @include breakpoints.mq(){
            display: block;
            margin-bottom: 3rem;
        }

        .logo{
            width: 150px;

            @include breakpoints.mq(){
                margin: 0 auto;
            }

            @include breakpoints.mq(){
                margin-bottom: 2rem;
            }
        }

        .footer__info{
            text-align: right;

            @include breakpoints.mq(){
                text-align: center;
            }
        }
    }

    .footer__menu{
        
        ul{
            display: flex;
            justify-content: center;

            @include breakpoints.mq(){
                display: block;
                text-align: center;
            }

            li{
                margin-right: 4rem;

                &:last-child{
                    margin-right: 0;
                }

                @include breakpoints.mq(){
                    margin-right: 0;
                }

                a{
                    color: #fff;
                    font-family: font.$oswald;
                    font-weight: bold;
                    font-size: 1.35em;
                }
            }
        }
    }
}

.copyright{
    background-color: color.$brawn;
    text-align: center;
    padding: 2rem 0;
    color: #fff;
}